<footer class="bs-docs-footer">
    <div class="container">
        <p>Designed and built with all the love in the world by <a href="https://twitter.com/mdo" target="_blank">@mdo</a> and <a href="https://twitter.com/fat" target="_blank">@fat</a>. Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
        <p>本项目源码受  &copy;  NZ1903集团  保护 </p>
    </div>
</footer>

<style>
    footer{
        position: fixed;
        bottom: 0;
        left:0;
        width:100%;
    }
    .bs-docs-footer{
        padding-top:20px;
        padding-bottom: 20px;
    }
</style>